<div class="col-sm-12 mt-5 pt-5 justify-content-center" style="display:none">
  <div class="text-center mt-5 pt-5">No application found...</div>
</div>
<div class="col-sm-12 p-0">
  <div class="col-sm-12 float-left na">
    <mat-tab-group (selectedTabChange)="whichApplication($event)">
      <mat-tab label="New Applications">
        <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
          <table id="table_new" class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="wd-16">Application Date</th>
                <th class="wd-12">Application ID</th>
                <th class="wd-16">Employee name</th>
                <th class="wd-15">QCI/Board</th>
                <th class="wd-15">Leave Type</th>
                <th class="wd-16">Date Applied</th>
                <th class="modify">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let app of application | reverse | filter : term; let i = index;">
                <td class="wd-16">{{app.date_of_apply}}</td>
                <td class="wd-12">
                  <a href="javascript:void(0)" class="text-primary" (click)="appInfo(app.application_id, app.qci_id)">
                    <u>{{app.application_id | slice:0:12 }}</u>
                  </a>
                </td>
                <td class="wd-16">
                  <span :matTooltip="{{app.email}}">{{app.name}}</span>
                </td>
                <td class="wd-15">
                  <span :matTooltip="{{app.board}}">{{app.board}}</span>
                </td>
                <td class="wd-15" *ngIf="app.leave_type == 'cl'" :matTooltip="Casual Leave">Casual</td>
                <td class="wd-15" *ngIf="app.leave_type == 'sl'" :matTooltip="Sick Leave">Sick</td>
                <td class="wd-15" *ngIf="app.leave_type == 'pl'" :matTooltip="Privileged Leave">Privileged</td>
                <td class="wd-15" *ngIf="app.leave_type == 'ptl'" :matTooltip="Paternity Leave">Paternity</td>
                <td class="wd-15" *ngIf="app.leave_type == 'ml'" :matTooltip="Maternity Leave">Maternity</td>
                <td class="wd-15" *ngIf="app.leave_type == 'rh'" :matTooltip="Restricted Holiday">Restricted</td>
                <td class="wd-15">{{app.date_from}}-{{app.date_to}}</td>
                <td class="modify">
                 <!--  <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="appEdit(app.application_id, app.qci_id)"></i> -->
                  <i class="fa fa-check" aria-hidden="true" (click)="appAccept(app.application_id, app.qci_id)"></i>
                  <i class="fa fa-times" aria-hidden="true" (click)="appCancel(app.application_id, app.qci_id)"></i>
                  <mat-icon class="mat-icon material-icons pos-rel" role="img" aria-hidden="true">more_vert</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Approved Applications">
        <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
          <table id="table_approve" class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="wd-16">Application Date</th>
                <th class="wd-12">Application ID</th>
                <th class="wd-16">Employee name</th>
                <th class="wd-15">QCI/Board</th>
                <th class="wd-15">Leave Type</th>
                <th class="wd-16">Date Applied</th>
                <th class="modify">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let approve of approvedLeave | reverse | filter : term; let i = index;">
                <td class="wd-16">{{approve.date_of_apply}}</td>
                <td class="wd-12">
                  <a href="javascript:void(0)" class="text-primary" (click)="appInfo(approve.application_id, approve.qci_id)">
                    <u>{{approve.application_id | slice:0:12 }}</u>
                  </a>
                </td>
                <td class="wd-16">
                  <span :matTooltip="{{approve.email}}">{{approve.name}}</span>
                </td>
                <td class="wd-15">
                  <span :matTooltip="{{approve.board}}">{{approve.board}}</span>
                </td>
                <td class="wd-15" *ngIf="approve.leave_type == 'cl'" :matTooltip="Casual Leave">Casual</td>
                <td class="wd-15" *ngIf="approve.leave_type == 'sl'" :matTooltip="Sick Leave">Sick</td>
                <td class="wd-15" *ngIf="approve.leave_type == 'pl'" :matTooltip="Privileged Leave">Privileged</td>
                <td class="wd-15" *ngIf="approve.leave_type == 'ptl'" :matTooltip="Paternity Leave">Paternity</td>
                <td class="wd-15" *ngIf="approve.leave_type == 'ml'" :matTooltip="Maternity Leave">Maternity</td>
                <td class="wd-15" *ngIf="approve.leave_type == 'rh'" :matTooltip="Restricted Holiday">Restricted</td>
                <td class="wd-16">{{approve.date_from}}-{{approve.date_to}}</td>
                <td class="modify">
                  <small>No Actions</small>
                  <!-- <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="appEdit(approve.application_id, approve.qci_id)"></i>
                  <i class="fa fa-check" aria-hidden="true" (click)="appAccept(approve.application_id, approve.qci_id)"></i>
                  <i class="fa fa-times" aria-hidden="true" (click)="appCancel(approve.application_id, approve.qci_id)"></i>
                  <mat-icon class="mat-icon material-icons pos-rel" role="img" aria-hidden="true">more_vert</mat-icon> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
      <mat-tab label="Cancelled Applications">
        <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
          <table id="table_cancel" class="table table-striped" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="wd-16">Application Date</th>
                <th class="wd-12">Application ID</th>
                <th class="wd-16">Employee name</th>
                <th class="wd-15">QCI/Board</th>
                <th class="wd-15">Leave Type</th>
                <th class="wd-16">Date Applied</th>
                <th class="modify">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cancel of cancelledLeave | reverse | filter : term; let i = index;">
                <td class="wd-16">{{cancel.date_of_apply}}</td>
                <td class="wd-12">
                  <a href="javascript:void(0)" class="text-primary" (click)="appInfo(cancel.application_id, cancel.qci_id)">
                    <u>{{cancel.application_id | slice:0:12 }}</u>
                  </a>
                </td>
                <td class="wd-16">
                  <span :matTooltip="{{cancel.email}}">{{cancel.name}}</span>
                </td>
                <td class="wd-15">
                  <span :matTooltip="{{cancel.board}}">{{cancel.board}}</span>
                </td>
                <td class="wd-15" *ngIf="cancel.leave_type == 'cl'" :matTooltip="Casual Leave">Casual</td>
                <td class="wd-15" *ngIf="cancel.leave_type == 'sl'" :matTooltip="Sick Leave">Sick</td>
                <td class="wd-15" *ngIf="cancel.leave_type == 'pl'" :matTooltip="Privileged Leave">Privileged</td>
                <td class="wd-15" *ngIf="cancel.leave_type == 'ptl'" :matTooltip="Paternity Leave">Paternity</td>
                <td class="wd-15" *ngIf="cancel.leave_type == 'ml'" :matTooltip="Maternity Leave">Maternity</td>
                <td class="wd-15" *ngIf="cancel.leave_type == 'rh'" :matTooltip="Restricted Holiday">Restricted</td>
                <td class="wd-16">{{cancel.date_from}}-{{cancel.date_to}}</td>
                <td class="modify">
                  <small>No Actions</small>
                  <!-- <i class="fa fa-pencil-square-o" aria-hidden="true" (click)="appEdit(cancel.application_id, cancel.qci_id)"></i>
                  <i class="fa fa-check" aria-hidden="true" (click)="appAccept(cancel.application_id, cancel.qci_id)"></i>
                  <i class="fa fa-times" aria-hidden="true" (click)="appCancel(cancel.application_id, cancel.qci_id)"></i>
                  <mat-icon class="mat-icon material-icons pos-rel" role="img" aria-hidden="true">more_vert</mat-icon> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
