$color : rgba(33, 51, 151, 1);

.nav-pos-search {
    position:fixed;
    z-index:1030;
    top:1.3%;
    right:0;
    left:0;
    margin:0 auto;
    input {
        background:rgba(43, 61, 161, 1);
        border:1px solid $color;
        border-radius:2px;
        box-shadow:1px 1px 1px $color inset
    }
}
.h78.ovf-y small{
    max-height : 30px;
    max-width : 100%;
    text-overflow : ellipsis;
    display :-webkit-box;
    -webkit-line-clamp : 2;
    line-height : 30px;
    -webkit-box-orient : vertical;
    overflow : hidden
}