<!-- <div class="rad-box" id="{{elementId}}" ></div> -->
<div class="col-sm-6 float-left pl-0">
    <div class="rad-box mb-2 bg-white p-4">
        <canvas id="bar">{{bar}}</canvas>
    </div>
</div>
<div class="col-sm-6 float-left pr-0">
    <div class="rad-box mb-2 bg-white p-4">
        <canvas id="polarArea">{{polarArea}}</canvas>
    </div>
</div>
<!-- <div class="col-sm-4 float-left pl-0">
    <div class="rad-box mb-2 bg-white p-4">
        <canvas id="polarArea">{{polarArea}}</canvas>
    </div>
</div> -->