<div class="col-sm-12 p-0">
  <div class="col-sm-12 float-left">
    <h5 class="d-inline-block">Employee's On Leave</h5>
    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block">
      <table id="table_id" class="table table-striped " cellspacing="0" width="100%">
        <thead>
          <tr>
            <th>QCI ID</th>
            <th>Employee</th>
            <th>Designation</th>
            <th>Gender</th>
            <th class="modify">Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ABCD ID</td>
            <td>Deepak Ranolia</td>
            <td>Junior Analyst</td>
            <td>Male</td>
            <td>
              <button mat-button class="btn btn-info p-2">Edit</button>
              <button mat-button class="ml-2 btn btn-danger p-2">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>