<div class="col-sm-12 p-0">
  <div class="col-sm-12 float-left">
    <h5 class="d-inline-block">Employee's List</h5>
    <div class="d-inline-block float-right">
      <button mat-button class="btn p-2 mat-button mt-0 mb-3" [routerLink]="['/add-employee']">Add Employee</button>
      <!-- <button mat-button class="btn btn-primary p-2 mat-button mt-0 mb-3" (click)="assignRole()">Add Role</button> --><!-- [routerLink]="['/add-employee']"-->
      <button mat-raised-button class="btn btn-primary p-2 mat-button mt-0 mb-3" (click)="openUploadDialog($event)">Upload employee excel</button>
    </div>
    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
      <table id="table_id" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="wd-6">QCID</th>
            <th class="wd-14">Employee's Info</th>
            <th class="wd-14">Reporting Manager</th>
            <!-- <th class="wd-12">Reporting Mngr.</th> -->
            
            <th class="bs" :matTooltip="">TOL</th>
            <th class="bs" :matTooltip="">OB</th>
            <th class="bs" :matTooltip="">CA</th>
            <th class="bs" :matTooltip="">TL</th>

            <th class="ss" :matTooltip="January">J</th>
            <th class="ss" :matTooltip="February">F</th>
            <th class="ss" :matTooltip="March">M</th>
            <th class="ss" :matTooltip="April">A</th>

            <th class="ss" :matTooltip="May">M</th>
            <th class="ss" :matTooltip="June">J</th>
            <th class="ss" :matTooltip="July">J</th>
            <th class="ss" :matTooltip="August">A</th>

            <th class="ss" :matTooltip="September">S</th>
            <th class="ss" :matTooltip="October">O</th>
            <th class="ss" :matTooltip="November">N</th>
            <th class="ss" :matTooltip="December">D</th>

            <th class="bs" :matTooltip="">AL</th>
            <th class="bs" :matTooltip="">CB</th>
            <th class="modify">Modify</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of emplCSV; let i = index">
            <td class="wd-6">{{emp["ID code"]}}</td>
            <td class="wd-14">
              <strong :matTooltip="{{emp['Email-ID']}}">{{emp["Officials"]}}</strong><br />
              <small>{{emp["Nature of Appointment"]}}</small><small class="text-primary">( {{emp["QCI/Board"]}} )</small>
            </td>
            <td class="wd-14">
              <small>{{emp["Reporting Officer"]}}</small>
              <small>{{emp["RO-Email-ID"]}}</small>
            </td>
            <td class="bs">CL<br />SL<br />PL<br /></td>
            <td class="bs">9<br />45<br />71<br /></td>
            <td class="bs">0<br />20<br />30<br /></td>
            <td class="bs">9<br />65<br />101<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="ss">1<br />1<br />1<br /></td>
            <td class="bs">1<br />1<br />1<br /></td>
            <td class="bs">1<br />1<br />1<br /></td>
            <td class="modify">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i><!-- :routerLink="/employee-list/{{emp.qci_id}}"-->
              <i class="fa fa-times" aria-hidden="true"></i><!--(click)="deleteEmp(emp.qci_id)"-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
