<div class="col-sm-12 p-0">
  <div class="col-sm-12 float-left">
    <h5 class="d-inline-block">Employee's List</h5>
    <div class="d-inline-block float-right">
      <!-- <button mat-button class="btn p-2 mat-button mt-0 mb-3" [routerLink]="['/add-employee']">Add Employee</button> -->
      <!-- <button mat-button class="btn btn-primary p-2 mat-button mt-0 mb-3" (click)="assignRole()">Add Role</button> -->
      <!-- [routerLink]="['/add-employee']"-->
      <button mat-raised-button class="btn btn-primary p-2 mat-button mt-0 mb-3" (click)="openUploadDialog($event)">Upload employee excel</button>
    </div>
    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
      <table id="table_id" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="wd-7">QCI_ID</th>
            <th class="wd-14">Employee's Info</th>
            <th class="wd-14">Reporting Manager</th>
            <th class="tableInside wd-59 pb-0">
              <table class="col-sm-12 tableInside">
                <tr class="bg-white">
                  <th class="ss bs" :matTooltip="Type Of Leave">TOL</th><!-- 
                  <th class="ss bs" :matTooltip="Opening Balance">OB</th>
                  <th class="ss bs" :matTooltip="Credit in advance for the year">CA</th> -->
                  <th class="ss bs" :matTooltip="Total Leave">TL</th>
                  <th class="ss" :matTooltip="January">Jan</th>
                  <th class="ss" :matTooltip="February">Feb</th>
                  <th class="ss" :matTooltip="March">Mar</th>
                  <th class="ss" :matTooltip="April">Apr</th>
                  <th class="ss" :matTooltip="May">May</th>
                  <th class="ss" :matTooltip="June">Jun</th>
                  <th class="ss" :matTooltip="July">Jul</th>
                  <th class="ss" :matTooltip="August">Aug</th>
                  <th class="ss" :matTooltip="September">Sep</th>
                  <th class="ss" :matTooltip="October">Oct</th>
                  <th class="ss" :matTooltip="November">Nov</th>
                  <th class="ss" :matTooltip="December">Dec</th>
                  <!-- <th class="ss bs" :matTooltip="Availed Leave">AL</th> -->
                  <th class="ss bs" :matTooltip="Closing Balance">CB</th>
                <tr>
              </table>
            </th>
            <!-- <th class="modify">Modify</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of emplCSV; let i = index">
            <td class="wd-7">{{emp.qci_id}}</td>
            <td class="wd-14">
              <strong :matTooltip="{{emp['email_id']}}">{{emp["name"]}}</strong><br />
              <small>{{emp.appointment_type}}</small><small class="text-primary">( {{emp["board"]}} )</small>
            </td>
            <td class="wd-14" :matTooltip="{{emp['ro_email_id']}}">{{emp.reporting_officer}}</td>
            <td class="tableInside wd-59">
              <table class="col-sm-12" *ngFor="let els of employeeLeave; let j = index;">
                <tr *ngIf="i == j && emp.cl">
                  <td class="ss bs">CL</td>
                  <td class="ss bs">{{emp.cl.total}}</td>
                  <td class="ss" *ngFor="let el of els">{{el.cl}}</td>
                  <td class="ss bs">{{emp.cl.bal}}</td>
                </tr>
                <tr *ngIf="i == j && emp.sl">
                  <td class="ss bs">SL</td>
                  <td class="ss bs">{{emp.sl.total}}</td>
                  <td class="ss" *ngFor="let el of els">{{el.sl}}</td>
                  <td class="ss bs">{{emp.sl.bal}}</td>
                </tr>
                <tr *ngIf="i == j && emp.pl">
                  <td class="ss bs">PL</td>
                  <td class="ss bs">{{emp.pl.total}}</td>
                  <td class="ss" *ngFor="let el of els">{{el.pl}}</td>
                  <td class="ss bs">{{emp.pl.bal}}</td>
                </tr>
              </table> 
            </td>
            <!-- <td class="modify">
              <i class="fa fa-pencil-square-o" aria-hidden="true" :routerLink="/employee-list/{{emp.ID_code}}"></i>
              <i class="fa fa-times" aria-hidden="true" (click)="deleteEmp(emp.ID_code)"></i>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>