<div class="col-sm-12 p-0">
  <div class="col-sm-12 float-left">
    <h5 class="d-inline-block">Employee's List</h5>
    <div class="d-inline-block float-right">
      <!-- <button mat-button class="btn p-2 mat-button mt-0 mb-3" [routerLink]="['/add-employee']">Add Employee</button> -->
      <!-- <button mat-button class="btn btn-primary p-2 mat-button mt-0 mb-3" (click)="assignRole()">Add Role</button> -->
      <!-- [routerLink]="['/add-employee']"-->
      <button mat-raised-button class="btn btn-primary p-2 mat-button mt-0 mb-3" (click)="openUploadDialog($event)">Upload employee excel</button>
    </div>
    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
      <table id="table_id" class="table table-striped" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th class="wd-7">QCID</th>
            <th class="wd-14">Employee's Info</th>
            <th class="wd-14">Reporting Manager</th>
            
            <th class="tableInside wd-59 pb-0">1
              <!-- <table class="col-sm-12 tableInside">
                <tr class="bg-white">
                  <th class="ss bs" :matTooltip="Type Of Leave">TOL</th>
                  <th class="ss bs" :matTooltip="Opening Balance">OB</th>
                  <th class="ss bs" :matTooltip="Credit in advance for the year">CA</th>
                  <th class="ss bs" :matTooltip="Total Leave">TL</th>
      
                  <th class="ss" :matTooltip="January">Jan</th>
                  <th class="ss" :matTooltip="February">Feb</th>
                  <th class="ss" :matTooltip="March">Mar</th>
                  <th class="ss" :matTooltip="April">Apr</th>
                  <th class="ss" :matTooltip="May">May</th>
                  <th class="ss" :matTooltip="June">Jun</th>
                  <th class="ss" :matTooltip="July">Jul</th>
                  <th class="ss" :matTooltip="August">Aug</th>
                  <th class="ss" :matTooltip="September">Sep</th>
                  <th class="ss" :matTooltip="October">Oct</th>
                  <th class="ss" :matTooltip="November">Nov</th>
                  <th class="ss" :matTooltip="December">Dec</th>
      
                  <th class="ss bs" :matTooltip="Availed Leave">AL</th>
                  <th class="ss bs" :matTooltip="Closing Balance">CB</th>
                <tr>
              </table> -->
            </th>
            <!-- <th class="modify">Modify</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let emp of emplCSV; let i = index">
            <!--
              Date_of_joining
              Email_ID
              Gender
              ID_Code
              Nature_of_appointment
              Officials
              QCI/board
              RO_mail
              RO
            -->
            <td class="wd-7">{{emp.qci_id}}</td>
            <td class="wd-14">
              <strong :matTooltip="{{emp['email_id']}}">{{emp["name"]}}</strong><br />
              <small>{{emp.appointment_type}}</small><small class="text-primary">( {{emp["board"]}} )</small>
            </td>
            <td class="wd-14" :matTooltip="{{emp['ro_email_id']}}">{{emp.reporting_officer}}</td>

            
            <td class="tableInside wd-59" *ngFor="let cc of emp['cl']">{{cc.bal}}</td>
              <!-- <table class="col-sm-12">
                <tr *ngFor="let type of emp._type; let j = index">
                  <td class="ss bs">{{type.leave_type}}</td>
                  <td class="ss bs">{{type["Opening_bal(1jan18)"]}}</td>
                  <td class="ss bs">{{type.Credit_in_advance_for_the_year}}</td>
                  <td class="ss bs">{{type.total_leave}}</td>

                  <td class="ss">{{type.Jan}}</td>
                  <td class="ss">{{type.Feb}}</td>
                  <td class="ss">{{type.Mar}}</td>
                  <td class="ss">{{type.Apr}}</td>
                  <td class="ss">{{type.May}}</td>
                  <td class="ss">{{type.Jun}}</td>
                  <td class="ss">{{type.Jul}}</td>
                  <td class="ss">{{type.Aug}}</td>
                  <td class="ss">{{type.Sep}}</td>
                  <td class="ss">{{type.Oct}}</td>
                  <td class="ss">{{type.Nov}}</td>
                  <td class="ss">{{type.Dec}}</td>

                  <td class="ss bs">{{type.Apr}}</td>
                  <td class="ss bs">{{type.bal_leave}}</td>
                </tr>
              </table> 
            </td> -->
            <!-- <td class="modify">
              <i class="fa fa-pencil-square-o" aria-hidden="true" :routerLink="/employee-list/{{emp.ID_code}}"></i>
              <i class="fa fa-times" aria-hidden="true" (click)="deleteEmp(emp.ID_code)"></i>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>