<div class="col-sm-12 p-0">
  <div class="col-sm-12 p-0">
    <div class="col-sm-6 float-left">
      <h5>New Applications</h5>
    </div>
    <div class="col-sm-6 float-left">
      <h5>Rest Applications</h5>
    </div>
  </div>
  <mat-accordion class="col-sm-6 float-left h78 ovf-y">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Deepak</mat-panel-title>
        <mat-panel-description>Junior Analyst</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="First name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Age" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Personal data</mat-panel-title>
        <mat-panel-description>Type your name and age</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="First name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Age" />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>Personal data</mat-panel-title>
        <mat-panel-description>Type your name and age</mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field>
        <input matInput placeholder="First name" />
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Age" />
      </mat-form-field>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="col-sm-6 float-left h78 ovf-y">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Personal data</mat-panel-title>
          <mat-panel-description>Type your name and age</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Personal data</mat-panel-title>
          <mat-panel-description>Type your name and age</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>Personal data</mat-panel-title>
          <mat-panel-description>Type your name and age</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field>
          <input matInput placeholder="First name" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Age" />
        </mat-form-field>
      </mat-expansion-panel>
    </mat-accordion>
</div>