/* .mat-progress-spinner {
    width:25px !important;
    height:25px!important;
    top:0;
    left:-10% !important;
} */

.mat-dialog-container {
  padding: 0
}

.mat-progress-bar {
  clear: both;
  width: 100% !important;
  height: 5px !important;
  top: -155px !important;
  left: 0% !important;
}

.mat-list .mat-list-item .mat-list-item-content {
  height: 32px;
}

.snpdl {
  max-height: 48px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-height: 16px;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-spacing: 3px;
}
