<div class="d-flex justify-content-center">
  <div class="col-sm-7 pt-2 pb-2">
    <h5>Edit Employee</h5>
    <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
      <form class="example-form">
        <mat-form-field class="example-full-width col-sm-2 float-left mb-2">
          <input matInput placeholder="Qci ID" [(ngModel)]="employee.qci_id" name="qci_id" disabled />
        </mat-form-field>
        <mat-form-field class="example-full-width col-sm-5 float-left mb-2">
          <input matInput placeholder="Employee Name" [(ngModel)]="employee.name" name="name" />
        </mat-form-field>
        <mat-form-field class="example-full-width col-sm-5 float-left mb-2">
          <input matInput placeholder="Email" [(ngModel)]="employee.email" name="email" />
        </mat-form-field>
        <mat-form-field class="example-full-width col-sm-4 float-left mb-2">
          <input matInput placeholder="Designation" [(ngModel)]="employee.designation" name="designation" />
        </mat-form-field>
        <mat-form-field class="example-full-width col-sm-4 float-left mb-2">
          <input matInput placeholder="Board" [(ngModel)]="employee.board" name="board" />
        </mat-form-field>
        <mat-form-field class="example-full-width col-sm-4 float-left mb-2">
          <input matInput placeholder="Employee Type" [(ngModel)]="employee.type_of_employee" name="type_of_employee" />
        </mat-form-field>
        <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
          <input matInput placeholder="Gender" [(ngModel)]="employee.gender" name="gender" />
        </mat-form-field>
        <!-- <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
                    <input matInput placeholder="Casual Leave" [(ngModel)]="employee.bal_cl" name="bal_Cl" />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
                    <input matInput placeholder="Sick Leave" [(ngModel)]="employee.bal_sl" name="bal_Sl" />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
                    <input matInput placeholder="Privileged Leave" [(ngModel)]="employee.bal_pl" name="bal_Pl" />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-6 float-left mb-2">
                    <input matInput placeholder="Extra Ordinary Leave" [(ngModel)]="employee.bal_eol" name="bal_Eol" />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-6 float-left mb-2" *ngIf="show">
                    <input matInput placeholder="Maternity Leave" [(ngModel)]="employee.bal_ml" name="bal_Ml" />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-6 float-left mb-2" *ngIf="hide">
                    <input matInput placeholder="Paterinity Leave" [(ngModel)]="employee.bal_ptl" name="bal_Ptl" />
                </mat-form-field> -->
        <mat-form-field class="example-full-width col-sm-8 float-left mb-2">
          <input matInput placeholder="New Password" [type]="sp.checked?'text':'password'" [(ngModel)]="employee.password"
            name="password" />
        </mat-form-field>
        <mat-checkbox class="example-full-width col-sm-4 float-left mt-3" #sp color="primary">Show password</mat-checkbox>
        <div class="clearfix"></div>
        <button mat-button class="ml-3 mt-3 btn btn-primary p-2" (click)="updateEmployee()">Update Employee</button>
      </form>
    </div>
  </div>
</div>
