<div class="col-sm-12 p-0 d-flex justify-content-center">
  <div class="col-sm-6 float-left p-0" *ngIf="hide">
    <h5 class="col-sm-12">Application's Status</h5>
    <div class="col-sm-12 h78 ovf-y">
      <div class="col-sm-12 p-0 bg-white rad-box">
        <mat-list>
          <mat-list-item *ngFor="let lev of leave; let i = index">
            <mat-chip-list>
              <mat-chip>{{i+1}}</mat-chip>
            </mat-chip-list>
            <div class="col-sm-12">
              <small class="text-muted d-block">Your leave from {{lev.date_from}} to {{lev.date_to}} is {{
                lev.leave_status }} !</small>
              <small class="d-block" *ngIf="lev.leave_status == 'Rejected'">Reason: {{ lev.leave_reason }}</small>
            </div>
            <mat-divider></mat-divider>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
  <div class="col-sm-6 float-left p-0">
    <h5 class="col-sm-12">Profile Status</h5>
    <div class="col-sm-12 h78 ovf-y">
      <div class="col-sm-12 p-0 bg-white rad-box">
        <mat-card class="example-card" style="box-shadow:none;">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image">{{employee.qci_id}}</div>
            <mat-card-title>{{employee.name}}</mat-card-title>
            <mat-card-subtitle>{{employee.email}}&nbsp;(
              <strong>{{employee.designation}}</strong>)</mat-card-subtitle>
            <mat-card-subtitle>{{employee.type_of_employee}}</mat-card-subtitle>
          </mat-card-header>
          <!-- <mat-card-content>
            <strong class="mb-3">Leave Balance:</strong>
            <div>
              <div class="d-inline-block col-sm-12 p-0">
                <div class="mb-2 col-sm-3 float-left p-0">
                  <strong class="text-muted">Casual Leave
                    <small class="d-block mb-2">{{ employee.bal_cl }}</small>
                  </strong>
                </div>
                <div class="mb-2 col-sm-3 float-left p-0">
                  <strong class="text-muted">Sick Leave
                    <small class="d-block mb-2">{{ employee.bal_sl }}</small>
                  </strong>
                </div>
                <div class="mb-2 col-sm-3 float-left p-0" *ngIf="employee.gender == 'Female'">
                  <strong class="text-muted">Materinity Leave
                    <small class="d-block mb-2">{{ employee.bal_ml }}</small>
                  </strong>
                </div>
                <div class="mb-2 col-sm-3 float-left p-0" *ngIf="employee.gender == 'Male'">
                  <strong class="text-muted">Paterinity Leave
                    <small class="d-block mb-2">{{ employee.bal_ptl }}</small>
                  </strong>
                </div>
                <div class="mb-2 col-sm-3 float-left p-0">
                  <strong class="text-muted">Privileged Leave
                    <small class="d-block mb-2">{{ employee.bal_pl }}</small>
                  </strong>
                </div>
              </div>
            </div>
          </mat-card-content> -->
        </mat-card>
      </div>
    </div>
  </div>
</div>
