button.btn-theme, button.btn-theme:hover {
    background : #f44336;
    color : #fff
} .mat-button-toggle-checked{
    background : #fafafa !important
} .hid {
    display : none;
} .ovf-y {
    overflow : hidden;
    overflow-y : hidden
} .ovf-y:hover {
    overflow-y : auto
} strong{
    font-weight : 400;
    small {
        font-weight : 600
    }
}

.mat-card-avatar {
    height : 90px !important;
    width : 90px !important;
    box-shadow : 1px 1px 1px 1px #ccc inset !important;
    line-height : 90px;
    text-align : center
} 
.mat-list .mat-list-item .mat-list-item-content{
    padding:0 16px !important 
}

.today {
    color:blue;
} .material-icons:hover, .material-icons {
    cursor:pointer;
    font-size:15px;
} .table thead tr th, .table tbody tr td {
    font-size:0.8rem;
} .app-status .mat-card-content, .app-status .mat-card-header .mat-card-title, .app-status .mat-card-subtitle {
    font-size:13px;
} .app-status .mat-card {
    padding:10px;
} .brder {
    border-right:1px solid #e4e4e4;
} .mat-tab-label-content {
    font-size:13px;
}