<div class="col-sm-12 p-0">
    <div class="col-sm-12 float-left">
        <h5 class="d-inline-block">Employee's List</h5>
        <div class="d-inline-block float-right">
            <button mat-button class="btn btn-primary p-2" [routerLink]="['/add-employee']">Add Employee</button>
        </div>
        <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block">
            <table id="table_id" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Employee's</th>
                        <th>Gender</th>
                        <th>Designation</th>
                        <th>Employee Type</th>
                        <th>Board</th>
                        <th>Leave details</th>
                        <th class="modify">Modify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>//Deep ( deep@qcin.org )<br />
                            QCI ID</td>
                        <td>Male</td>
                        <td>Unknown</td>
                        <td>Contractual</td>
                        <td>NABL</td>
                        <td>
                            <mat-chip-list>
                                <mat-chip>CL: 10</mat-chip>
                                <mat-chip>SL: 10</mat-chip>
                                <mat-chip>ML: 10</mat-chip>
                                <mat-chip>PL: 10</mat-chip>
                                <mat-chip>EOL: 10</mat-chip>
                            </mat-chip-list>                                  
                        </td>
                        <td>
                            <button mat-button class="btn btn-info p-2" [routerLink]="['/employee-list/:id']">Edit</button>
                            <button mat-button class="ml-2 btn btn-danger p-2">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>