<div class="col-sm-12 p-0">
    <div class="col-sm-12 float-left">
        <h5 class="d-inline-block">Employee's List</h5>
        <div class="d-inline-block float-right">
            <button mat-button class="btn btn-primary p-2 mat-button mt-0 mb-3" [routerLink]="['/add-employee']">Add Employee</button>
        </div>
        <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
            <table id="table_id" class="table table-striped" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="wd-7">QCID</th>
                        <th class="wd-16">Employee name</th>
                        <th class="wd-7">Gender</th>
                        <th class="wd-10">Designation</th>
                        <th class="wd-7">Board</th>
                        <th class="wd-">Leave details</th>
                        <th class="modify">Modify</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let emp of employee; let i = index">
                        <td class="wd-7">{{ emp.qci_id }}</td>
                        <td class="wd-16"><span :matTooltip="{{ emp.email }}">{{ emp.name }}</span></td>
                        <td class="wd-7">{{ emp.gender }}</td>
                        <td class="wd-10">{{ emp.designation }}<br /><small>{{ emp.type_of_employee }}</small></td>
                        <td class="wd-7">{{ emp.board }}</td>
                        <td class="wd-">
                            <mat-chip-list>
                                <mat-chip><span matTooltip="Casual Leave">CL: {{ emp.bal_cl }}</span></mat-chip>
                                <mat-chip><span matTooltip="Sick Leave">SL: {{ emp.bal_sl }}</span></mat-chip>
                                <mat-chip><span matTooltip="Privileged Leave">PL: {{ emp.bal_pl }}</span></mat-chip>
                                <mat-chip *ngIf="emp.gender == 'Female'"><span matTooltip="Materinity Leave">ML: {{ emp.bal_ml }}</span></mat-chip>
                                <mat-chip *ngIf="emp.gender == 'Male'"><span matTooltip="Paterinity Leave">PTL: {{ emp.bal_ptl }}</span></mat-chip>
                                <mat-chip><span matTooltip="Extraordinary Leave">EOL: {{ emp.bal_eol }}</span></mat-chip>
                            </mat-chip-list>                                  
                        </td>
                        <td class="modify">
                            <button mat-button class="btn btn-info p-1" :routerLink="/employee-list/{{emp.qci_id}}">Edit</button>
                            <button mat-button class="ml-2 btn btn-danger p-1" (click)="deleteEmp(emp.qci_id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 