<div class="col-sm-12">
    <h5>Dashboard</h5>
    <div class="col-sm-12 d-block p-0">
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell col-sm-12 float-left pl-0 pr-2 mb-3"><pie-chart></pie-chart></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-2 float-left bg-white h-100 pt-3 pb-2 text-center rad-box">
        <i class="material-icons float-left" (click)="previousMonth()">arrow_back_ios</i>
        <div class="d-inline-block">{{date.format('MMMM')}} {{date.format('YYYY')}}</div>
        <i class="material-icons float-right" (click)="nextMonth()">arrow_forward_ios</i>
    </div>
    <div class="col-sm-10 h-100 float-left pr-0">
        <mat-tab-group :selectedIndex="{{getDate-1}}" mat-stretch-tabs>
            <mat-tab *ngFor="let day of daysArr; let i = index">
                <ng-template mat-tab-label>
                    <div class="col-sm-12 p-0" (click)="postData(day?.date())" style="height:100%">
                     <div [ngClass]="{'today':todayCheck(day)}">{{ day?.date() }}</div>
                    <!-- <span class="badge badge-secondary">{{d.noeol}}</span> -->
                    </div>
                </ng-template>
                <app-stat>
                    <div class="pt-1 pb-2">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-chip color="warn" selected="true">Pankaj</mat-chip>
                                        <mat-chip>Junior Analyst</mat-chip>
                                        <mat-chip>ask.pankaj@qcin.org</mat-chip>
                                    </mat-panel-title>
                                    <mat-panel-description></mat-panel-description>
                                </mat-expansion-panel-header>
                                <mat-chip-list>
                                    <!-- <p class="mt-4">QCI ID: 1345</p> -->
                                </mat-chip-list>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </app-stat>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<div class="col-sm-12">
    <div class="col-sm-6 pos-abs pt-1 pb-2">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-title class="mb-2 mt-2">
                        <button mat-raised-button (click)="openUploadDialog()">Upload</button>
                        <span class="pt-2 pl-3 text-muted">Upload CSV file for updating holiday's</span>
                    </mat-panel-title>
                    <!-- <mat-panel-description class="pt-2"></mat-panel-description> -->
                </mat-expansion-panel-header>
                <mat-chip-list>
                    <div class="col-sm-12 p-0">
                        <div class="col-sm-4 mt-2 float-left text-center">
                            <mat-chip color="primary" selected="true">January 26</mat-chip> <div>Republic Day</div>
                        </div>
                        <div class="col-sm-4 mt-2 float-left text-center">
                            <mat-chip color="primary" selected="true">Holi date</mat-chip> <div>Holi</div>
                        </div>
                        <div class="col-sm-4 mt-2 float-left text-center">
                            <mat-chip color="primary" selected="true">January 26</mat-chip> <div>Republic Day</div>
                        </div>
                    </div>
                </mat-chip-list>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
    <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{ link.label }}</a>
    </nav>
</div>

<div class="clearfix mt-5 pt-5"></div>
<div class="clearfix mt-5 pt-5"></div>

<div id="container" class="col-sm-6"></div>