<div class="col-sm-12">
  <h5>Dashboard</h5>
  <!-- <div class="col-sm-12 d-block p-0">
        <div class="divTable">
            <div class="divTableBody">
                <div class="divTableRow">
                    <div class="divTableCell col-sm-12 float-left pl-0 pr-0 mb-3">
                        <pie-chart></pie-chart>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
  <div class="clearfix"></div>
  <div class="col-sm-2 float-left bg-white h-100 pt-3 pb-2 text-center rad-box">
    <i class="material-icons float-left" (click)="previousMonth()">arrow_back_ios</i>
    <div class="d-inline-block">{{date.format('MMMM')}} {{date.format('YYYY')}}</div>
    <i class="material-icons float-right" (click)="nextMonth()">arrow_forward_ios</i>
  </div>
  <div class="col-sm-10 h-100 float-left pr-0">
    <mat-tab-group :selectedIndex="{{getDate}}" mat-stretch-tabs>
      <mat-tab *ngFor="let cde of combineDateEmp; let i = index">
        <ng-template mat-tab-label>
          <div>
            <div class="col-sm-12 p-0" (click)="getEmpOnLeave(cde)" style="height:100%">
              <div [ngClass]="{'today':todayCheck(day)}">{{cde.day}}</div>
              <div>&nbsp;
                <span class="badge badge-secondary" *ngIf="!cde.count==0">{{cde.count}}</span>&nbsp;</div>
            </div>
          </div>
        </ng-template>
        <app-stat>
          <div class="mt-1 mb-2" *ngIf="cde.count==0">
            <div class="bg-white rad-box p-5 text-center">No employee on leave today</div>
          </div>
          <div class="mt-1 mb-2 h74 ovf-y" *ngIf="!cde.count==0" style="height:50vh;">

            <mat-accordion>
              <mat-expansion-panel *ngFor="let em of emp; let i = index" [disabled]="isDisabled">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <strong style="line-height:16px">
                      <small class="d-block text-muted">{{em.name}}</small>
                      <small style="line-height:20px">{{em.email}}</small>
                    </strong>
                  </mat-panel-title>
                  <mat-panel-description class="mr-0">
                    <small class="col-sm-11 d-block text-muted">{{em.designation}},&nbsp;{{em.board}}</small>
                    <h3 class="col-sm-1 material-icons mt-2" :routerLink="/application/{{em.qci_id}}">arrow_forward</h3>
                  </mat-panel-description>
                </mat-expansion-panel-header>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </app-stat>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div class="col-sm-12">
  <div class="col-sm-6 pos-abs pt-1 pb-2">
    <div class="col-sm-12 bg-white rad-box pt-4 pb-3">
      <button mat-raised-button (click)="openUploadDialog($event)">Upload Holiday's CSV</button>
      <button mat-raised-button class="float-right" (click)="openCSV($event)">See Holidays</button>
      <br />
      <br />
      <mat-divider></mat-divider>
    </div>
    <!-- <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title class="mb-2 mt-2">
            <button mat-raised-button (click)="openUploadDialog($event)">Upload</button>
            <span class="pt-2 pl-3 text-muted">Upload CSV file for updating holiday's</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-chip-list>
          <div class="col-sm-12 p-0">
            <div class="col-sm-12 p-0">
              <div class="float-left col-sm-6">
                <strong class="text-info d-inline-block">*</strong> Compulsory Holidays
              </div>
              <div class="float-left col-sm-6">
                <strong class="text-muted d-inline-block">*</strong> Restricted Holidays
              </div>
            </div>
            <br />
            <br />
            <div class="col-sm-6 pl-2 pr-2 pb-2 float-left" *ngFor="let all of holidays; let i=index;">
              <div class="mb-1" *ngIf="all.CompulsoryHoliday">
                <span class="p-1 bg-light">{{i+1}}</span>
                <strong class="text-info" style="font-size:13px">{{all.CompulsoryHoliday}}
                  <small class="mt-2">{{all.Date}}</small>
                </strong>
              </div>
              <div class="mb-1 bg-light text-dark" *ngIf="all.Today">
                <span class="p-1 bg-light">{{i+1}}</span>
                <strong class="" style="font-size:13px">{{all.Today}}
                  <small class="mt-2">{{all.Date}}
                    <sup class="text-danger">
                      <h6 class="d-inline">*</h6>
                    </sup>
                  </small>
                </strong>
              </div>
              <div class="mb-1" *ngIf="all.RestrictedHoliday">
                <span class="p-1 bg-light">{{i+1}}</span>
                <strong class="text-muted" style="font-size: 13px">{{all.RestrictedHoliday}}
                  <small class="mt-2">{{all.Date}}</small>
                </strong>
              </div>
            </div>
          </div>
        </mat-chip-list>
      </mat-expansion-panel>
    </mat-accordion> -->
  </div>
  <!-- <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">{{ link.label }}</a>
  </nav> -->
</div>
<div class="clearfix mt-5 pt-5"></div>
