<mat-toolbar color="primary" class="sticky-top">
  <mat-toolbar-row>
    <div class="col-sm-5">
      <span class="pl-3 pr-3 bg-white text-dark">QCI | LMS</span>
      <span class="pl-3 pr-3" routerLinkActive="active" [routerLink]="['/']">Home</span>
      <span class="pl-3 pr-3" routerLinkActive="active" [routerLink]="['/employee-section']">Applications</span>
      <span class="pl-3 pr-3" routerLinkActive="active" [routerLink]="['/employee-list']">Employees</span>
      <!-- <span class="pl-3 pr-3" routerLinkActive="active" [routerLink]="['/application-status']">Employees on leave</span> -->
    </div>
    <div class="col-sm-7 float-right text-right p-0">
      <mat-menu #appMenu="matMenu" yPosition="above">
        <button mat-menu-item (click)="logout()">Logout</button>
      </mat-menu>
      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<br />
<div class="col-md-12 pos-rel">
  <router-outlet></router-outlet>
</div>