<div class="d-flex justify-content-center">
    <div class="col-sm-7 pt-2 pb-2">
        <h5>Add Employee</h5>
        <div class="col-sm-12 bg-white pt-3 pb-2 d-inline-block rad-box">
            <form class="example-form" #userForm="ngForm">
                <mat-form-field class="example-full-width col-sm-2 float-left mb-2">
                    <input matInput placeholder="Qci ID"
                    [(ngModel)]="employee.qci_id"
                    [ngClass]="{'is-invalid':qciId.errors && qciId.touched}"
                     #qciId="ngModel"
                     required
                     minlength="2"
                     maxlength="7"
                     name="qciId" />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-5 float-left mb-2">
                    <input matInput placeholder="Employee Name" [(ngModel)]="employee.name" 
                    [ngClass]="{'is-invalid':name.errors && name.touched}"
                     #name="ngModel" required
                     minlength="5" maxlength="48"
                     name="name"
                     pattern="[a-zA-Z][a-zA-Z ]+"
                       />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-5 float-left mb-2">
                    <input matInput placeholder="Email" [(ngModel)]="employee.email" 
                    [ngClass]="{'is-invalid':email.errors && email.touched}"
                     name="email"
                     #email="ngModel"
                     required
                     pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?"
                      />
                </mat-form-field>

                <mat-form-field class="example-full-width col-sm-4 float-left mb-2">
                    <input matInput placeholder="Designation" [(ngModel)]="employee.designation" 
                    [ngClass]="{'is-invalid':designation.errors && designation.touched}"
                     #designation="ngModel"
                     required
                     minlength="2"
                     maxlength="48"
                     pattern="[a-zA-Z][a-zA-Z ]+" 
                     name="designation"
                      />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-4 float-left mb-2">
                    <input matInput placeholder="Board" [(ngModel)]="employee.board" [ngClass]="{'is-invalid':board.errors && board.touched}"
                    #board="ngModel"
                    required
                    minlength="2"
                    maxlength="64"
                    pattern="[a-zA-Z][a-zA-Z ]+" 
                     name="board"
                      />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-4 float-left mb-2">
                    <mat-select placeholder="Employee Type" [(ngModel)]="employee.type_of_employee" (change)="gettoe(employee.type_of_employee)" name="type_of_employee">
                        <mat-option *ngFor="let typ of showEmpTyp" [value]="typ.value">{{typ.value}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
                    <mat-select placeholder="Select Gender" [(ngModel)]="employee.gender" (change)="getGender(employee.gender)" name="gender">
                        <mat-option *ngFor="let gndr of showGender" [value]="gndr.value">{{gndr.value}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
                    <input matInput placeholder="Casual Leave" [(ngModel)]="employee.bal_cl" [ngClass]="{'is-invalid':balCl.errors && balCl.touched}"
                    #balCl="ngModel"
                    required
                    minlength="1"
                    maxlength="2"
                    name="balCl" 
                    (keypress)="keyPress($event)"
                    />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
                    <input matInput placeholder="Sick Leave" [(ngModel)]="employee.bal_sl" [ngClass]="{'is-invalid':balSl.errors && balSl.touched}"
                    #balSl="ngModel"
                    required
                    minlength="1"
                    maxlength="2"
                    name="balSl" 
                    (keypress)="keyPress($event)"
                    />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-3 float-left mb-2">
                    <input matInput placeholder="Privileged Leave" [(ngModel)]="employee.bal_pl" [ngClass]="{'is-invalid':balPl.errors && balPl.touched}"
                    #balPl="ngModel"
                    required
                    minlength="1"
                    maxlength="2"
                    name="balPl"
                    (keypress)="keyPress($event)"
                    />
                </mat-form-field>

                <mat-form-field class="example-full-width col-sm-6 float-left mb-2">
                    <input matInput placeholder="Extra Ordinary Leave" [(ngModel)]="employee.bal_eol" [ngClass]="{'is-invalid':balEol.errors && balEol.touched}"
                    #balEol="ngModel"
                    required
                    minlength="1"
                    maxlength="2"
                    name="balEol" 
                    (keypress)="keyPress($event)"
                    />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-6 float-left mb-2" *ngIf="show">
                    <input matInput placeholder="Maternity Leave" [(ngModel)]="employee.bal_ml" [ngClass]="{'is-invalid':balMl.errors && balMl.touched}"
                    #balMl="ngModel"
                    required
                    minlength="1"
                    maxlength="3" 
                    name="balMl"
                    (keypress)="keyPress($event)"
                    />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-6 float-left mb-2" *ngIf="hide">
                    <input matInput placeholder="Paterinity Leave" [(ngModel)]="employee.bal_ptl" [ngClass]="{'is-invalid':balPtl.errors && balPtl.touched}"
                    #balPtl="ngModel"
                    required
                    minlength="1"
                    maxlength="3" 
                    name="balPtl"
                    (keypress)="keyPress($event)"
                    />
                </mat-form-field>
                <mat-form-field class="example-full-width col-sm-8 float-left mb-2">
                    <input matInput placeholder="Password" [type]="sp.checked ? 'text' : 'password'" [(ngModel)]="employee.password" name="password" />
                </mat-form-field>
                <mat-checkbox class="example-full-width col-sm-4 float-left mt-3" #sp color="primary">Show password</mat-checkbox>
                <div class="clearfix"></div>
                <button mat-button class="ml-3 mt-3 btn btn-primary p-2" [disabled]="!userForm.form.valid" (click)="addEmployee(userForm)">Add Employee</button>
            </form>
        </div>
    </div>
</div>